.sidebar__group-list
  = link_to group_messages_path(group), class: "sidebar__group-list-link" do
    .sidebar__group
      .sidebar__group-name= group.name
      .sidebar__group-message まだメッセージはありません
