@import "colors";

.chat-main {
  float: left;
  width: calc( 100vw - 300px );
  height: 100vh;
  box-sizing: border-box;
  &__header {
    border: 1px solid $chat-main__header-border;
    padding: 0 40px;
    height: 15%;
    position: relative;
    &-group {
      padding: 35px 0 15px;
      &-name {
        font-size: 20px;
        color: $chat-main__header-group-name;
      }
      &-edit-btn {
        height: 20px;
        line-height: 20px;
        text-decoration: none;
        font-size: 15px;
        border: 1px solid $chat-main__header-group-edit-btn-border;
        padding: 10px 20px;
        float: right;
        position: absolute;
        top: 28px;
        right: 40px;
      }
    }
    &-members {
      font-size: 12px;
      color: $chat-main__header-members;
    }
  }
  &__body {
    word-wrap:break-word;
    height: 76%;
    overflow-y: scroll;
    padding: 46px 40px 0 40px;
  }
  &__footer {
    background-color: $chat-main__footer-background;
    padding: 20px 40px;
    position: relative;
    height: 5%;
    &-form-text {
    height: 50px;
    font-size: 16px;
    color: $chat-main__footer-form-text;
    width: calc( 100% - 135px );
    padding: 0 10px;
    border: none;
    float: left
    }
    &-form-submit-btn {
      background-color: $chat-main__footer-form-submit-btn-background;
      color: $chat-main__footer-form-submit-btn;
      width: 100px;
      height: 50px;
      border: none;
      margin-left: 15px;
      float: right;
    }
    .fa-image {
      position: absolute;
      top: 39px;
      right: 165px;
      cursor: pointer;
    }
  }
}
#file-input {
  display: none;
}
