@import "colors";

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: $sidebar__groups-background;
  box-sizing: border-box;
  float: left;
  &__user {
    background-color: $sidebar__user-background;
    height:15%;
    &-content {
      height: 15px;
      line-height: 140px;
    }
    &-name {
      color: $sidebar__user-name;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      display: inline;
    }
    &--new-group {

      text-decoration: none;
    }
    .fa {
      color: $white;
    }
    .fa-edit {
      margin-left: 90px;
    }
  }
  &__groups {
    height: 85%;
  }
  &__group-list-link {
    text-decoration: none;
  }
  &__group {
    color: $sidebar__group;
    padding: 20px;
   &-name {
    font-size: 15px;
    padding-bottom:5px;
   }
   &-message {
    font-size: 11px;
   }
   &:hover {
    background-color:lighten($sidebar__groups-background, 5%);
   }
  }
}

