@import "colors";

.sidebar {
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  float: left;
  &__user {
    background-color: $sidebar__user-background;
    height: 15%;
    position: relative;
    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    &-name {
      color: $sidebar__user-name;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      display: inline;
    }
    &-btns {
      float: right;
      padding-right: 20px;
      &--new-group {
        text-decoration: none;
      }
    }
    .fa {
      color: $white;
    }
    .fa-edit {
      padding-right: 10px;
    }
  }
  &__groups {
    height: 85%;
    overflow-y: scroll;
    background-color: $sidebar__groups-background;
  }
}
