.notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key

- if @message.present? && @message.errors.any?
  .message-errors
    %ul
      - @message.errors.full_messages.each do |message|
        %li= message
